.auth-container {
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home.light .auth-container {
  background: rgba(71,154,255,0.8);
}

.home.dark .auth-container {
  background: rgba(14,5,51,0.9);
  color: white;
}
