.dashboard-bg {
  min-height: 100vh;
  width: 100%;
  background-image: url("src/assets/forest.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.dashboard-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 3rem;
  padding: 4rem;
  place-items: center;
}

.dashboard-item {
  width: 220px;
  max-width: 90%;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.dashboard-item:hover {
  transform: scale(1.08);
}

.dashboard-footer {
  height: 80px;
  background: #4a2929;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}
