.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  overflow: hidden;
}

/* Logo */

.logo {
  width: min(1400px, 95vw);
  max-height: 60vh;
  max-height: Xvh
     
  height: auto;
  object-fit: contain;

  filter: drop-shadow(0 30px 12px rgba(0, 0, 0, 0.75));
}


/* Animation */

.logo.show {
  animation:
    popUp 0.6s ease-out forwards,
    float 4s ease-in-out infinite;
  animation-delay: 0s, 1.2s;
}

/* Buttons row */

.actions-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 900px;
  padding: 0 2rem;
}

.actions-row .btn {
  min-width: 280px;
}

/* Mobile */

@media (max-width: 700px) {
  .actions-row {
    flex-direction: column;
    gap: 2rem;
  }

  .actions-row .btn {
    width: 100%;
    max-width: 320px;
  }
}
