.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.auth-form input {
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.field-error {
  color: #e53935;
  font-size: 0.8rem;
  height: 28px;
  margin-top: 1px;
  font-size: 0.7rem;
}

.error-box {
  background: #ffe5e5;
  color: #b30000;
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.field-group {
  margin-bottom: 10px;
  width: 100%;
}

.auth-form input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6);
}


.auth-link span {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}

.auth-link span:hover {
  opacity: 1;
}

